<!DOCTYPE html>
{% load static %}

<link href="{% static 'admin/css/homepage.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Iceland" rel="stylesheet">
<link rel="shortcut icon" href="{% static "admin/img/gis/favicon.ico" %}" type="image/x-icon">

<title>Miami | Clubs</title>

<div class="container">
  <center>
  <img src="{% static "admin/img/gis/Miami.png" %}" alt="My image">
  <p><a href="Space">Space</a></p>
  <p><a href="Treehouse">Treehouse</a></p>
  <p><a href="ElectricPickle">Electric Pickle</a></p>
  <p><a href="Story">Story</a></p>
  <p><a href="E11even">E11even</a></p>
  <p><a href="LIV">LIV</a></p>
  <p><a href="DoNotSitOnTheFurniture">Do Not Sit On The Furniture</a></p>
</div>
